<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<style>
  .card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: 20px;
  }
</style>
<body>
  <figure class="highcharts-figure">
      <div class='card' id="iaq"></div>
      <div class='card' id="co2"></div>
      <div class='card' id="voc"></div>
      <div class='card' id="temperature"></div>
      <div class='card' id="humidity"></div>
      <div class='card' id="pressure"></div>
  </figure>
  <script>
    function toFahrenheit(celsius) {
      const temp = celsius * 9 / 5 + 32;
      return Math.round(temp * 100) / 100
    }

    // Temperature
    Highcharts.chart('temperature', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Temperature'
        },
        time: {
          useUTC: false
        },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { // don't display seconds or am/pm
            millisecond: '%l:%M',
            second: '%l:%M',
            minute: '%l:%M',
          },
          title: {
            text: 'Time'
          }
        },
        yAxis: {
            title: {
                text: 'Temperature (°F)'
            }
        },
        tooltip: { // show seconds on hover
          headerFormat: '<b>{point.x:%l:%M:%S %P}</b><br>',
          pointFormat: '{point.y:.2f}'
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
            }
        },
        series: [{
            name: 'Temperature',
            data: [
              {{range .Measurements}}
                  [Date.parse({{.CreatedAt}}), toFahrenheit({{.Temperature}})],
              {{ end }}
            ]
        }]
    });

    // Air Quality
    Highcharts.chart('iaq', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Air Quality'
        },
        time: {
          useUTC: false
        },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { // don't display seconds or am/pm
            millisecond: '%l:%M',
            second: '%l:%M',
            minute: '%l:%M',
          },
          title: {
            text: 'Time'
          }
        },
        yAxis: {
            title: {
                text: 'Pollution Level (BSEC)'
            },
            plotBands: [{
              from: 0,
              to: 100,
              color: '#dfd',
              label: {
                text: 'good',
                align: 'left',
                style: {
                  color: 'gray'
                }
              }
            },
            {
              from: 100,
              to: 200,
              color: '#ffffdd',
              label: {
                text: 'ok',
                align: 'left',
                style: {
                  color: 'gray'
                }
              }
            },
            {
              from: 200,
              to: 500,
              color: '#ffdddd',
              label: {
                text: 'bad',
                align: 'left',
                style: {
                  color: 'gray'
                }
              }
            }
          ]
        },
        tooltip: { // show seconds on hover
          headerFormat: '<b>{point.x:%l:%M:%S %P}</b><br>',
          pointFormat: '{point.y:.2f}'
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
            }
        },
        series: [{
            name: 'IAQ (accuracy: {{.Accuracy}})',
            data: [
              {{range .Measurements}}
                  [Date.parse({{.CreatedAt}}), {{.IAQ}}],
              {{ end }}
            ]
        }]
    });

    // Pressure
    Highcharts.chart('pressure', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Pressure'
        },
        time: {
          useUTC: false
        },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { // don't display seconds or am/pm
            millisecond: '%l:%M',
            second: '%l:%M',
            minute: '%l:%M',
          },
          title: {
            text: 'Time'
          }
        },
        yAxis: {
            title: {
                text: 'Pressure (hPa)'
            }
        },
        tooltip: { // show seconds on hover
          headerFormat: '<b>{point.x:%l:%M:%S %P}</b><br>',
          pointFormat: '{point.y:.2f}'
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
            }
        },
        series: [{
            name: 'Pressure',
            data: [
              {{range .Measurements}}
                  [Date.parse({{.CreatedAt}}), {{.Pressure}}],
              {{ end }}
            ]
        }]
    });

    // CO2
    Highcharts.chart('co2', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'CO2 Estimate'
        },
        time: {
          useUTC: false
        },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { // don't display seconds or am/pm
            millisecond: '%l:%M',
            second: '%l:%M',
            minute: '%l:%M',
          },
          title: {
            text: 'Time'
          }
        },
        yAxis: {
            title: {
                text: 'CO2 (ppm)'
            },
            plotBands: [{
              from: 0,
              to: 800,
              color: '#dfd',
              label: {
                text: 'good',
                align: 'left',
                style: {
                  color: 'gray'
                }
              }
            },
            {
              from: 800,
              to: 1000,
              color: '#ffffdd',
              label: {
                text: 'ok',
                align: 'left',
                style: {
                  color: 'gray'
                }
              }
            },
            {
              from: 1000,
              to: 3000,
              color: '#ffdddd',
              label: {
                text: 'bad',
                align: 'left',
                style: {
                  color: 'gray'
                }
              }
            }
          ]
        },
        tooltip: { // show seconds on hover
          headerFormat: '<b>{point.x:%l:%M:%S %P}</b><br>',
          pointFormat: '{point.y:.2f}'
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
            }
        },
        series: [{
            name: 'CO2',
            data: [
              {{range .Measurements}}
                  [Date.parse({{.CreatedAt}}), {{.CO2}}],
              {{ end }}
            ]
        }]
    });

    // VOC
    Highcharts.chart('voc', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Volatile Organic Compounds Estimate'
        },
        time: {
          useUTC: false
        },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { // don't display seconds or am/pm
            millisecond: '%l:%M',
            second: '%l:%M',
            minute: '%l:%M',
          },
          title: {
            text: 'Time'
          }
        },
        yAxis: {
            title: {
                text: 'VOC (ppm)'
            },
            plotBands: [{
              from: 0,
              to: 1,
              color: '#dfd',
              label: {
                text: 'good',
                align: 'left',
                style: {
                  color: 'gray'
                }
              }
            },
            {
              from: 1,
              to: 3,
              color: '#ffffdd',
              label: {
                text: 'ok',
                align: 'left',
                style: {
                  color: 'gray'
                }
              }
            },
            {
              from: 3,
              to: 20,
              color: '#ffdddd',
              label: {
                text: 'bad',
                align: 'left',
                style: {
                  color: 'gray'
                }
              }
            }
          ]
        },
        tooltip: { // show seconds on hover
          headerFormat: '<b>{point.x:%l:%M:%S %P}</b><br>',
          pointFormat: '{point.y:.2f}'
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
            }
        },
        series: [{
            name: 'VOC',
            data: [
              {{range .Measurements}}
                  [Date.parse({{.CreatedAt}}), {{.VOC}}],
              {{ end }}
            ]
        }]
    });

    // Humidity
    Highcharts.chart('humidity', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Humidity'
        },
        time: {
          useUTC: false
        },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { // don't display seconds or am/pm
            millisecond: '%l:%M',
            second: '%l:%M',
            minute: '%l:%M',
          },
          title: {
            text: 'Time'
          }
        },
        yAxis: {
            title: {
                text: 'Humidity (% relative)'
            }
        },
        tooltip: { // show seconds on hover
          headerFormat: '<b>{point.x:%l:%M:%S %P}</b><br>',
          pointFormat: '{point.y:.2f}'
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
            }
        },
        series: [{
            name: 'Relative Humidity',
            data: [
              {{range .Measurements}}
                  [Date.parse({{.CreatedAt}}), {{.Humidity}}],
              {{ end }}
            ]
        }]
    });
  </script>
</body>
</html>