<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  {{range .Measurements}}
    <h2>Temperature: {{.Temperature}}</h2>
    <h2>Pressure: {{.Pressure}}</h2>
    <h2>Humidity: {{.Humidity}}</h2>
    <h2>Gas Resistance: {{.GasResistance}}</h2>
    <h2>Air Quality: {{.IAQ}}</h2>
    <h2>Accuracy: {{.Accuracy}}</h2>
    <h2>CO2: {{.CO2}}</h2>
    <h2>VOC: {{.VOC}}</h2>
  {{ end }}
</body>
</html>